<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <style>
        body {
          position: relative;
          font-size: 25px;
          width:"100%";
        }
        .navbar {
            height: 50px;
        }
    </style>
    <head>
        <title>Конструктор метрик</title>
    </head>
    <body>

        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>
                    Действие
                </th>
                <th>
                    Пользователей
                </th>
                <th>
                    Действий на пользователя
                </th>
                <th>
                    Действий всего
                </th>
            </tr>
            {% for action in actions %}
                <tr>
                    <td>
                        {{ action['name'] }}
                    </td>
                    <td>
                        {{ action['users'] }}
                    </td>
                    <td>
                        {{ action['actions_per_user'] }}
                    </td>
                    <td>
                        {{ action['actions'] }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
